.hero {
  background-image: url("../assets/hero_image.png");
  background-position: center;
  background-size: cover;
  // width:100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  &__navbar {
    &__elements {
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 45px 142px;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;

      &__item {
        padding-left: 30px;
        cursor: pointer;
      }
      &__btn {
        cursor: pointer;
        margin-left: 30px;
        width: 90px;
        height: 40px;
        background-color: #f84646;
        border-style: hidden;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
      }
    }
  }
}
