.hero{
    background-image: url("../assets/hero_image.png");
    background-position: center;
    background-size: cover;
    // width:100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    &__navbar{
        
        &__elements{
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 45px 142px;

            &__item{
                padding-left: 30px;
            }
            &__btn{
                margin-left: 30px;
                width:90px;
                height: 40px;
                background-color: #F84646;
                border-style: hidden;
                padding: 10px 20px;
                border-radius: 5px;
                color: white;
            }
        }
    }
}
