.values {
  margin: 120px 5rem;
  display: flex;
  flex-direction: column;
  &__value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
    margin-bottom: 120px;
    &__group {
      display: flex;
      flex-direction: column;
      flex-basis: 40%;

      &__title {
        font-size: 64px;
        color: #2e2e2e;
        font-weight: bold;
        line-height: 76px;
        padding-bottom: 40px;
      }
      &__text {
        padding-bottom: 80px;
        color: #808080;
        font-size: 16px;
        line-height: 32px;
      }
      &__button {
        width: 160px;
        height: 48px;
        border-radius: 8px;
        background: #f84646;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        color: #ffffff;
      }
    }
    &__image {
      border-radius: 8px;
      width: 500px;
      height: 480px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__reverse {
    flex-direction: row-reverse;
  }
}
